{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "plugin:vue/vue3-recommended"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json",
    "extraFileExtensions": [".vue"],
    "sourceType": "module"
  },
  "plugins": ["simple-import-sort", "vue", "@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-shadow": "off",
    "no-plusplus": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "vue/max-attributes-per-line": "off",
    "vue/html-self-closing": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/html-closing-bracket-newline": "off",
    "@typescript-eslint/prefer-literal-enum-member": "error",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/no-unsafe-assignment": "off"
  },
  "overrides": [
    {
      "env": { "jest": true },
      "files": ["**/tests/**/*.spec.ts?(x)"],
      "extends": [
        "plugin:jest/recommended",
        "plugin:testing-library/dom",
        "plugin:testing-library/vue"
      ],
      "plugins": ["jest-dom", "testing-library"],
      "rules": {
        "jest/expect-expect": ["off"],
        "jest-dom/prefer-checked": "error",
        "jest-dom/prefer-enabled-disabled": "error",
        "jest-dom/prefer-required": "error",
        "jest-dom/prefer-to-have-attribute": "error"
      }
    }
  ]
}
