@use "../settings/variables";

a {
    color: variables.$text-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: variables.$text-inverted-color;
        font-weight: 500;
    }
}
